Django>=5.1
httpx>=0.23.0
uvicorn[standard]
python-dotenv
asgiref
sqlparse
django-crispy-forms
crispy-bootstrap5
whitenoise[brotli]
dj-database-url
psycopg2-binary
Pillow
django-allauth[socialaccount]
pyvis>=0.3.1
networkx>=3.0

# Production server
gunicorn==21.2.0
