Django>=5.1
httpx>=0.23.0
uvicorn[standard]
python-dotenv
asgiref
sqlparse
django-crispy-forms
crispy-bootstrap5
whitenoise[brotli]
dj-database-url
psycopg2-binary
Pillow
django-allauth[socialaccount]

# Production server
gunicorn==21.2.0
