fastapi
uvicorn
sqlalchemy
psycopg2-binary
redis
pydantic
pydantic-settings
email-validator
groq
slowapi
langchain
langchain-openai
google-genai
python-multipart
passlib[bcrypt]
python-jose[cryptography]
click
emails
